.mainTable {
  border-radius: 10%;
  width: 100%;
}

th {

  background-color: darkgrey;
  text-align: left;
  font-family: 'Lucida Sans';
}

.tableDiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: thin solid;
  border-color: lightgray;
}

tr {
  border: thin solid;
  border-color: lightgray;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;

}

.frames {
  display: flex;
  
}

.clickThing {
  cursor: pointer;
}

.banner {
  display: flex;
  background-color: #bbdbee;
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);

}

.instructions {
  font-family: 'Lucida Sans';

}

.searchbar {
  margin-left: auto;
  width: 25%;
  box-shadow: inset;
}

td {
  border: thin solid;
  border-color: lightgray;
}

.darkToggle {
  height: auto;
  width: 50px;
  cursor: pointer;
  box-shadow: inset;
  background-color: black;
}
